LogViewerWeb/Connected Services/AdminService/AdminService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dlservice:6970/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" />
  <xs:element name="GetComputerInfoFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerInfoFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" minOccurs="0" name="GetComputerInfoFromIdResult" nillable="true" type="q1:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerInfoFromSerialNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerInfoFromSerialNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" minOccurs="0" name="GetComputerInfoFromSerialNumberResult" nillable="true" type="q2:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" minOccurs="0" name="GetComputerInfosResult" nillable="true" type="q3:ArrayOfComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLastComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLastComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" minOccurs="0" name="FindLastComputerResult" nillable="true" type="q4:ComputerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" minOccurs="0" name="GetLogResult" nillable="true" type="q5:ArrayOfLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" minOccurs="0" name="GetComputerLogResult" nillable="true" type="q6:ArrayOfLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" minOccurs="0" name="GetUserLogResult" nillable="true" type="q7:ArrayOfLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DomainLoggingService.Model" minOccurs="0" name="GetUserResult" nillable="true" type="q8:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>